body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: gray;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(6, 59, 57);
}

h1, h2, h3 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 30px;
  text-align: center;
}

.image-code, .qr-code {
  width: 50%;
  height: auto;
  margin: 20px auto;
}

.contact-info {
  margin-top: 40px;
  text-align: center;
  background-color: rgb(6, 59, 57);
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .image-code, .qr-code {
    width: 50%;
    height: auto;
  }
}

