body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 25%;
  background-color: gray;
}

.container {
  border-radius: 25%;
  background-color: rgb(6, 59, 57);
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: center;
}

.image-code, .qr-code {
  width: 50%;
  height: auto;
}

.contact-info {
  text-align: center;
  border-radius: 25%;
  background-color: rgb(6, 59, 57);
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 10px;
  text-align: center;
}
/* Button styles */
a {
  background-color: #4CAF50; /* Green */
  color: white;
  border-radius: 10%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Hover effect */
a:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

@media (max-width: 768px) {
  .image-code, .qr-code {
    width: 50%;
    height: auto;
  }
}

